* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

body {
  font-family: "Open Sans", sans-serif;
}

img {
  width: 100%;
}

.btn {
  text-decoration: none;
  background-color: #ff52bf;
  padding: 1rem 2rem;
  border-radius: 3rem;
  color: white;
  font-size: 0.95rem;
  font-weight: 600;
  border: none;
}
.btn:hover {
  cursor: pointer;
  background-color: #ff8fd8;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
}

.align-center {
  display: flex;
  flex-direction: column !important;
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 1.5rem;
}
nav img {
  width: 7.5rem;
}
nav a {
  text-decoration: none;
  color: #ff52bf;
  border: 1px solid #ff52bf;
  padding: 0.25rem 1rem;
  border-radius: 3rem;
}
nav a:hover {
  cursor: pointer;
  background-color: #ff52bf;
  color: white;
}

.container-fluid-header {
  margin: 2rem 1.5rem 0;
}

.header {
  text-align: center;
  margin-top: 5rem;
}
.header h1 {
  font-size: 1.5rem;
}
.header p {
  font-size: 0.95rem;
  margin: 1.5rem 0 5rem;
  font-weight: 600;
}
.header img {
  margin-top: 5rem;
}

@media (min-width: 768px) {
  .container-fluid-header {
    margin: 6rem 1.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header {
    text-align: center;
    margin-top: 5rem;
  }
  .header h1 {
    font-size: 2.5rem;
  }
  .header p {
    width: 30rem;
  }
  .header img {
    width: 66%;
  }
}
.numbers {
  display: flex;
  align-items: center;
}

.number-card {
  width: 10rem;
  margin-top: 6rem;
  position: relative;
}
.number-card h2 {
  font-size: 3rem;
}
.number-card p {
  font-size: 0.95rem;
  text-align: center;
}
.number-card::before {
  content: "";
  background-image: url("/images/icon-communities.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: -2rem;
}
.number-card:last-child::before {
  background-image: url("/images/icon-messages.svg");
}

@media (min-width: 768px) {
  .flex {
    display: flex;
  }

  .number-card {
    width: 10rem;
  }
  .number-card h2 {
    font-size: 3.5rem;
  }
  .number-card p {
    font-size: 0.95rem;
    text-align: center;
  }
  .number-card:last-child {
    margin-left: 15vw;
  }
}
.test {
  background-color: #f5faff;
}

.container {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container p {
  font-size: 0.95rem;
  margin-top: 1.5rem;
  text-align: center;
  font-weight: 600;
}

.flowing-conversation {
  background-color: white;
}

.your-users {
  padding-top: 2rem;
}

.container-fluid {
  max-width: 1440px;
  margin: 0 auto;
  padding: 4rem 1.5rem;
}

@media (min-width: 768px) {
  .container-fluid {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 4rem;
  }

  .reverse {
    flex-direction: row-reverse;
  }

  .img-section {
    width: 40%;
  }

  .container {
    align-items: flex-start;
    width: 45%;
  }
  .container h3 {
    font-size: 2rem;
  }
  .container p {
    text-align: left;
  }
}
.bg-top-grow-together {
  background-image: url("/images/bg-section-top-mobile-1.svg");
  height: 7rem;
  margin-top: 5rem;
}

.bg-bottom-grow-together {
  background-image: url("/images/bg-section-bottom-mobile-1.svg");
  height: 3.25rem;
}

.bg-top-your-users {
  background-image: url("/images/bg-section-top-mobile-2.svg");
  height: 6.4375rem;
  margin-top: 2.5rem;
}

.bg-bottom-your-users {
  background-image: url("/images/bg-section-bottom-mobile-2.svg");
  height: 6.3125rem;
}

.bg-footer {
  background-image: url("/images/bg-footer-top-mobile.svg");
  height: 3.3125rem;
}

.image {
  background-repeat: no-repeat;
  max-width: 23.4375rem;
}

@media (min-width: 376px) {
  .bg-top-grow-together {
    background-image: url("/images/bg-section-top-desktop-1.svg");
    height: 10.3125rem;
  }

  .bg-bottom-grow-together {
    background-image: url("/images/bg-section-bottom-desktop-1.svg");
    height: 8.6875rem;
  }

  .bg-top-your-users {
    background-image: url("/images/bg-section-top-desktop-2.svg");
    height: 9.75rem;
  }

  .bg-bottom-your-users {
    background-image: url("/images/bg-section-bottom-desktop-2.svg");
    height: 8.6875rem;
  }

  .bg-footer {
    background-image: url("/images/bg-footer-top-desktop.svg");
    height: 9.875rem;
  }

  .image {
    max-width: 90rem;
  }
}
@media (min-width: 1440px) {
  .image {
    background-size: cover;
    max-width: 100%;
  }
}
.community {
  margin: 4rem 0;
}
.community h3 {
  font-size: 1.5rem;
  text-align: center;
}
.community button {
  margin: 1.5rem;
}

@media (min-width: 768px) {
  .community h3 {
    font-size: 2rem;
  }
}
footer {
  background-color: #00252e;
  color: white;
}

.footer-content {
  display: flex;
  flex-direction: column-reverse;
}

.newsletter h4 {
  text-transform: uppercase;
  font-size: 1.05rem;
}
.newsletter p {
  margin-top: 1rem;
  font-size: 0.95rem;
  line-height: 1.3rem;
}
.newsletter form {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
}
.newsletter form input[type=text] {
  padding: 0.75rem 0.75rem;
  border-radius: 0.25rem;
  border: none;
  width: 100%;
}
.newsletter form button {
  margin-top: 0.75rem;
  padding: 0.75rem 0;
  width: 50%;
  border-radius: 0.25rem;
  border: none;
  background-color: #ff52bf;
  color: white;
  font-size: 0.95rem;
  font-weight: 600;
}
.newsletter form button:hover {
  cursor: pointer;
  background-color: #ff8fd8;
}
.newsletter form .active {
  display: block !important;
}
.newsletter form .info {
  position: absolute;
  color: #ff4242;
  margin-top: 0;
  left: 0;
  top: 3rem;
  display: none;
  width: 40vw;
}
.newsletter form .wrong {
  border: 1px solid #ff4242 !important;
}

.contact {
  margin-top: 4rem;
}
.contact p {
  font-size: 0.95rem;
  margin-top: 1rem;
}
.contact .phone-email {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
.contact .phone-email img {
  width: 1rem;
  margin-right: 1rem;
}
.contact .phone-email p {
  margin-top: 0;
}

.social {
  margin-top: 3rem;
}
.social a {
  color: white;
  margin-right: 1rem;
}
.social a:hover {
  color: #3bacee;
  cursor: pointer;
}

@media (min-width: 768px) {
  .footer-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .newsletter {
    flex: 0 0 40%;
  }
  .newsletter p {
    max-width: 22rem;
  }

  .contact {
    margin-top: 0;
    max-width: 20rem;
  }
}
@media (min-width: 1024px) {
  .newsletter {
    flex: 0 0 40%;
  }
  .newsletter form {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .newsletter form button {
    margin-top: 0;
    margin-left: 2rem;
  }
}

/*# sourceMappingURL=style.css.map */
