.numbers {
  display: flex;
  align-items: center;
}

.number-card {
  width: 10rem;
  margin-top: 6rem;
  position: relative;
  h2 {
    font-size: 3rem;
  }
  p {
    font-size: $font-size;
    text-align: center;
  }
  &::before {
    content: "";
    background-image: url("/images/icon-communities.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: -2rem;
  }
  &:last-child {
    &::before {
      background-image: url("/images/icon-messages.svg");
    }
  }
}

@media (min-width: 768px) {
  .flex {
    display: flex;
  }
  .number-card {
    width: 10rem;
    h2 {
      font-size: 3.5rem;
    }
    p {
      font-size: $font-size;
      text-align: center;
    }
    &:last-child {
      margin-left: 15vw;
    }
  }
}
